@import "../../vars.css";

.heroSection{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 49px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.heroContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}

.heroTitle{
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 33px;
    font-family: var(--font-roboto);
    background: linear-gradient(90deg, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 120%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.heroDescription{
    font-size: 30px;
    font-family: var(--font-roboto);
    margin-bottom: 52px ;
}

.heroContact{
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 100px;
    font-size: 30px;
    font-weight: 600;
    padding: 17px 26px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.heroImage{
    width: 50%;
    z-index: 1;

    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
    overflow: hidden;

    animation-name: floating ;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

@keyframes floating {
    0%   { transform: translateY(0px); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0px); }
}

.topBlur{
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-height: 350px;
    top: -128px;
    left: -10vw;
    border-radius: 764px;
    background: rgba(25,55,109,0.7);
    filter: blur(100px);
    z-index: 0;
}

.bottomBlur{
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 350px;
    min-height: 250px;
    top: 246px;
    right: -25vw;
    border-radius: 764px;
    background: rgba(25,55,109,0.7);
    filter: blur(100px);
    z-index: 0;
}

@media screen and (max-width: 768px) {
    .heroSection{
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
    }

    .heroContent{
        align-items: center;
    }

    .heroTitle{
        font-size: 48px;
        margin-bottom: 20px;
    }

    .heroDescription{
        font-size: 24px;
        margin-bottom: 30px ;
    }

    .heroContact{
        font-size: 24px;
        padding: 12px 20px;
    }

    .heroImage{
        width: 70%;
        margin-top: 30px;
    }
}
